
ProjektKsiegarnia/.vs/ProjektKsiegarnia/v16/Server/sqlite3/db.lock
ProjektKsiegarnia/.vs/ProjektKsiegarnia/v16/.suo
ProjektKsiegarnia/.vs/ProjektKsiegarnia/v16/Server/sqlite3/storage.ide
ProjektKsiegarnia/.vs/ProjektKsiegarnia/v16/Server/sqlite3/storage.ide-shm
ProjektKsiegarnia/.vs/ProjektKsiegarnia/v16/Server/sqlite3/storage.ide-wal
ProjektKsiegarnia/.vs/ProjektKsiegarnia/v16/.suo
ProjektKsiegarnia/.vs/ProjektKsiegarnia/v16/Server/sqlite3/storage.ide
